{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br />
<style>
  icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}
</style>
<div class="container">
  <div class="wish_title">
    <h2 style="text-align: center; color: white;">Cart</h2>
    <br>
    <div class="row">
      <div class="col-md-10">
        <p style="color: white; font-size: 1.2rem;">Total - <span style="color: white;" id="money"></span> </p>
      </div>
      <div class="col-md-2">
        <a href="{% url 'cart_buy' %}">
          <button type="submit" class="btn btn-outline-warning form-control">Buy Now</button>
        </a>
      </div>
    </div>
    <hr />
  </div>
  <br />

  <table class="table table-hover" id="table1">
    {%for d in data %}
    <tr>
      <td>
        <img
          src="/media/{{d.p_img}}"
          style="width: 120px"
          class="img-fluid"
        />
      </td>
      <td style="font-size: 1rem;padding-top: 30px; color: white;" name="p_name">{{d.product_name}}</td>
      <td style="font-size: 1rem;padding-top: 30px; color: white;" id= "price"  name="price">{{d.product_price}}</b></td>
      <td>
        <form action="{% url 'deletecart' d.id %}" method="post">
          {%csrf_token%}
          <button type="submit" class="btn btn-outline-info" style="margin-top: 20px;">delete</button>
        </form>
      </td>
    </tr>
    {%endfor%}
  </table>
</div>

<script>
   window.onload = function() {

let rows = document.getElementById("table1").children[0].rows;
var price = 0;

for (let i = 0; i < rows.length; i++) {
  price += parseInt(rows[i].cells[2].firstChild.data);
  }

  document.getElementById("money").innerText = price;
}

</script>

{%endblock%}
