{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br />
<div class="container">
  <div class="wish_title">
    <h2 style="text-align: center">Cart</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p>Total - <input  readonly class="form-control" style="width: 200px;" id="text" value="00"></p>
      </div>
      <div class="col-md-6" style="padding-left: 500px; padding-top: 20px;">
        <button type="button" class="btn btn-outline-success">Buy Now</button>
      </div>
    </div>
    <hr />
  </div>
  <br />

  <table class="table table-hover" id="table1">
    {%for d in data %}
    <tr>
      <td>
        <img
          src="/media/{{d.p_img}}"
          style="width: 120px"
          class="img-fluid"
        />
      </td>
      <td style="font-size: 20px;padding-top: 30px;">{{d.product_name}}</td>
      <td style="font-size: 20px;padding-top: 30px;" id= "price">{{d.product_price}}</b></td>
      <td style="font-size: 20px;padding-top: 30px;">{{d.category}}</td>
      <td>
        <form action="{% url 'deletecart' d.id %}" method="post">
          {%csrf_token%}
          <button type="submit" class="btn btn-outline-danger" style="margin-top: 20px;">delete</button>
        </form>
      </td>
    </tr>
    {%endfor%}
  </table>
</div>

<script>
   window.onload = function() {

let rows = document.getElementById("table1").children[0].rows;
var price = 0;

for (let i = 0; i < rows.length; i++) {
  price += parseInt(rows[i].cells[2].firstChild.data);
  }

  document.getElementById("text").value = price;
}
</script>
{%endblock%}
