{%extends 'template.html'%} {%block content%}
<div
  class="sidebar"
  style="background-color: #34495e; width: 200px; height: 720px"
>
  <h2 style="color: white; margin-left: 20px; padding-top: 10px">OnShop</h2>
  <hr style="color: white" />
  <div class="panels">
    <ul
      style="
        list-style-type: none;
        color: white;
        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
      "
    >
      <a href="" style="color: white; text-decoration: none">
        <li style="margin-top: 50px; border-bottom: 1px solid white">Admin</li>
      </a>
      <a href="" style="color: white; text-decoration: none">
        <li style="margin-top: 50px; border-bottom: 1px solid white">Users</li>
      </a>
      <a href="" style="color: white; text-decoration: none"
        ><li style="margin-top: 50px; border-bottom: 1px solid white">
          Products
        </li></a
      >
      <a href="" style="color: white; text-decoration: none">
        <li style="margin-top: 50px; border-bottom: 1px solid white">Orders</li>
      </a>
      <a href="" style="color: white; text-decoration: none">
        <li style="margin-top: 50px; border-bottom: 1px solid white">
          Payments
        </li>
      </a>
    </ul>
  </div>
</div>
{%endblock%}
