{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br />
<style>
  icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}
</style>
<div class="container">
  <div class="wish_title">
    <br>
    <div class="row">
      <form action="{% url 'cart_pay' %}" method="post">
        {%csrf_token%}
      <div class="col-md-6" style="padding-top: 20px;">
        <script
        id="payment"
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_test_51MdyTLSHgWa9JzRT2RJ56pyAl28goKY3aVzFQCUSlr91bjZob8LKYhWdUUcAJHB8OFAwRzxEhmbMl9NSfGLKv7xx00136X0LQ4"
        data-description="payment gateway"
        data-amount=""
        data-locale="auto"
      ></script>
      </div>
    </div>
    <hr />
  </div>
  <br />

  <table class="table table-hover" id="table1">
    {%for d in data %}
    <tr>
      <td>
        <img
          src="/media/{{d.p_img}}"
          style="width: 120px"
          class="img-fluid"
        />
      </td>
      <td>
        <input hidden name="pid_{{ forloop.counter }}" value = "{{d.product_id_id}}"/>
      </td>
      <td>
        <input readonly class="form-control" name="pname_{{ forloop.counter }}"value="{{d.product_name}}"/>
        </td>
        <td>
        <input readonly class="form-control" name="price_{{ forloop.counter }}" value="{{d.product_price}}"/>
        </td>
        <td>
        <input readonly class="form-control" name="total_{{ forloop.counter }}" value="{{d.total}}"/>
        </td>
    </tr>
    {%endfor%}
  </table>
</form>
</div>


{%endblock%}
