{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br />
<style>
  icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}
</style>
<div class="container">
  <div class="wish_title">
    <br>
    <form action="{% url 'cart_buy' %}" method="post">
      {%csrf_token%}
    <div class="row">
      <div class="col-md-6">
        <p>Total - <input  readonly class="form-control" style="width: 200px;" id="text" value="00"></p>
      </div>
      <div class="col-md-6" style="padding-left: 500px; padding-top: 20px;">
        <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_test_51MdyTLSHgWa9JzRT2RJ56pyAl28goKY3aVzFQCUSlr91bjZob8LKYhWdUUcAJHB8OFAwRzxEhmbMl9NSfGLKv7xx00136X0LQ4"
        data-description="payment gateway"
        data-amount="{{i.p_price}}"
        data-locale="auto"
      ></script>
      </div>
    </div>
    <hr />
  </div>
  <br />

  <table class="table table-hover" id="table1">
    {%for d in data %}
    <tr>
      <td>
        <img
          src="/media/{{d.p_img}}"
          style="width: 120px"
          class="img-fluid"
        />
      </td>
      <td style="font-size: 20px;padding-top: 30px;" name="p_name">{{d.product_name}}</td>
      <td style="font-size: 20px;padding-top: 30px;" id= "price"  name="price">{{d.product_price}}</b></td>
      <td style="font-size: 20px;padding-top: 30px;" name="cate">{{d.category}}</td>
      <td style="font-size: 20px;padding-top: 30px;" id = "total">{{d.total}}</td>
    </tr>
    {%endfor%}
  </table>
</div>

<script>
   window.onload = function() {

let rows = document.getElementById("table1").children[0].rows;
var price = 0;

for (let i = 0; i < rows.length; i++) {
  price = price + parseInt(rows[i].cells[4].firstChild.data) *  parseInt(rows[i].cells[2].firstChild.data);
  }

  document.getElementById("text").value = price;
}

</script>

{%endblock%}
