{%extends 'home_temp.html'%} {%block 'home_temp'%}
<br />
<br />
<br />
<div class="container">
  <div class="row justify-content-around" id="myItems">
    {%for p in products%}
    <div class="card" style="width: 18.5rem; box-shadow: 0 0 1rem black;margin-top: 2.5rem; background-color: transparent;">
      <img src="/media/{{p.p_img}}" class="card-img-top" alt="..." style="margin-top: 1rem" />
      <div class="card-body" style="text-align: center">
        <a href="{%url 'product' p.id %}" style="color:white;text-decoration: none;">
          <h5 class="card-title">{{p.p_name}}</h5>
        </a>
        <span style="color: white;">only at rupees</span>
        <span style="font-size: 20px; font-style: italic;color: white;">{{p.p_price}}</span>
      </div>
    </div>
    {%endfor%}

  </div>
</div>
{%endblock%}