{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br >
<div class="container">
    <form action="{% url 'delete_history' %}" method="post">
        {%csrf_token%}
        <button type="submit" class="btn btn-outline-info">Clear History</button>
    </form>
<center>
    <h2 style="color: white;">Order History</h2>
</center>
<hr>
    <table class="table table-hover">
        {% for data in order_data %}
        <tr>
            <td><b style="color: white;">{{data.pro_name}}</b></td>
            <td><b><i style="color: white;">{{data.pro_price}}</i></b></td>
            <td><b style="color: white;">{{data.status}}</b></td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock%}