{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br >
<div class="container">
    <a href="{% url 'order_hist' %}">
        <button type="button" class="btn btn-outline-primary">Ord.History</button>
    </a>

<center>
    <h2>Order List</h2>
</center>
<hr>
    <table class="table table-hover">
        {% for data in order_data %}
        <tr>
            <td><b>{{data.pro_name}}</b></td>
            <td><b><i>{{data.pro_price}}</i></b></td>
            <td><b>{{data.status}}</b></td>
            <td><form action="{% url 'receive' data.id %}" method="post">
                {%csrf_token%}
                <button type="submit" class="btn btn-success">Received</button>
            </form></td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock%}