{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-top: 30px">
      <img
        src="/media/{{product.p_img}}"
        class="img-fluid"
        style="border-radius: 20px"
      />
    </div>
    <div class="col-md-6" style="text-align: justify">
      <div class="detail_body" style="padding-top: 30px">
        <h3>{{product.p_name}}</h3>
        <form action="{% url 'addwish' product.id %}" method="post">
          {%csrf_token%}
          <button type="submit" class="btn btn-outline-info">
            Add to WishList
          </button>
        </form>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, neque
          veniam sapiente suscipit incidunt qui iste laudantium delectus dicta
          accusantium iusto? Quaerat nisi voluptatum alias fugiat ea quo dicta
          vero!
        </p>
      </div>
      only at rupees <span>{{product.p_price}}</span><br />
      Buy now! only <span>{{product.p_quantity}}</span> are left!! <br /><br />
      <div class="des">{{product.p_desc}}</div>
      <br /><br />
      <div class="d-grid gap-2 d-md-flex justify-content-md">
        <a href="{% url 'orderpro' product.id %}">
          <button class="btn btn-outline-success me-md-2" type="button">
            Buy Now
          </button>

        </a>
     
        <form action="{% url 'cartdata' product.id %}" method="post">
          {%csrf_token%}
          <button class="btn btn-outline-primary" type="submit">
            Add To Cart
          </button>
        </form>
      </div>
    </div>
  </div>
  <p style="text-align: center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia
    ipsum sint numquam at odio impedit quis alias voluptatibus non. Odit unde at
    in quia iste magni earum debitis culpa.
  </p>
</div>
{%endblock%}
