{%extends 'template.html'%} {%block content%}
<div class="container login-container" style="margin-top: 20vh; height: 60vh">
  <div class="row">
    <div class="offset-md-3 col-md-6 login">
      <div
        class="login-panel"
        style="background-color: #34495e; height: 60vh; border-radius: 10%"
      >
        <center>
          <div class="loginform" style="padding-top: 1vh; width: 70vh">
            <span
              class="form-label fromlabel"
              style="color: white; font-size: 5vh"
              >Log In</span
            >
            <hr class="hr" style="color: white" />
            <br />
            <p style="color: whitesmoke">{{mess}} {{message}}</p>
            <form
              action="{% url 'login' %}"
              method="post"
              class="was-validated"
            >
              {%csrf_token%}
              <input
                type="email"
                class="form-control"
                placeholder="Email Here..."
                name="useremail"
                required
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="username..."
                name="username"
                required
              />
              <br />
              <input
                type="password"
                class="form-control"
                placeholder="password..."
                name="userpass"
                required
              />
              <br />
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </center>
        <p class="register_hyper">
          click Here for new
          <a
            href="{%url 'register'%}"
            class="register_link"
            style="color: white"
            >Register</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
{%endblock%}
