{%extends 'template.html'%} {%block content%}
<div class="container register_con">
  <div class="row">
    <div class="offset-md-3 col-md-6 register">
      <div class="register_panel">
        <center>
          <div class="registerform">
            <span class="form-label fromlabelregister">Sign Up</span>
            <hr class="hr" />
            <br />
            {{mess}}
            <form
              action="{% url 'usersign' %}"
              method="POST"
              class="was-validated"
            >
            {%csrf_token%}
              <input
                type="text"
                class="form-control"
                placeholder="First name Here..."
                name="ufirstname"
                required
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="Last name Here..."
                name="ulastname"
                required
              />
              <br />
              <input
                type="email"
                class="form-control"
                placeholder="Email Here..."
                name="useremail"
                required
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="username..."
                name="username"
                required
              />
              <br />
              <input
                type="password"
                class="form-control"
                placeholder="password..."
                name="userpass1"
                required
              />
              <br />
              <input
                type="password"
                class="form-control"
                placeholder="confirm password..."
                name="userpass2"
                required
              />
              <br />
              <input type="submit" class="btn btn-success" value="Signup">          
          </form>
          </div>
        </center>
        <a href="{% url 'userlogin'%}" class="login_link"> go to login </a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
