{%extends 'home_temp.html'%} {%block 'home_temp'%}
<br />
<br />
<br />

<!-- modal for add  address-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Address</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="was-validated" action="{%url 'useraddress' user.id%}" method="post">
        {%csrf_token%}
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <textarea class="form-control" name="useraddrss" required></textarea>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="pin code" name="userpin" required/>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="district" name="userdist" required/>
          </div>
      
          <div class="col-md-6">
            <select class="form-select" aria-label="Default select example" name="userstate" required>
              <option selected>select states</option>
              {%for s in state%}
              <option value="{{s.state_name}}">{{s.state_name}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          close
        </button>
        <button type="submit" class="btn btn-success">save</button>
      </form>
    </div>
      </div>
    </div>
  </div>
</div>
<!-- modal end -->

<!-- modal for edit address -->
<div
  class="modal fade"
  id="exampleModaledit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="{%url 'edituseraddress' user.id%}" method="post">
        {%csrf_token%}
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            {%for i in userprofile %}
            <textarea class="form-control" name="useraddrss">{{i.address}}</textarea>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="pin code" name="userpin"   value="{{i.user_pin}}" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="district" name="userdist" value="{{i.user_dist}}"/>
          </div>
      
          <div class="col-md-6">
            <select class="form-select" aria-label="Default select example" name="userstate">
              <option selected>{{i.user_state}}</option>
              {%for s in state%}
              <option value="{{s.state_name}}">{{s.state_name}}</option>
              {%endfor%}
            </select>
          </div>
          {%endfor%}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          close
        </button>
        <button type="submit" class="btn btn-success">save</button>
      </form>
    </div>
      </div>
    </div>
  </div>
</div>

<!-- end modal edit -->

<!-- user edit modal -->
<div
  class="modal fade"
  id="usereditmodal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">edit profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="{%url 'edituser' user.id%}" method="post">
        {%csrf_token%}
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            {%for i in userprofile %}
            <input type="text" class="form-control" name="fname" value="{{user.first_name}}" />
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="lname"   value="{{user.last_name}}" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="uemail" value="{{user.email}}"/>
          </div>
      
          <div class="col-md-6">
            <input type="text" class="form-control" name="username" value="{{user.username}}"/>
          </div>
          {%endfor%}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          close
        </button>
        <button type="submit" class="btn btn-success">save</button>
      </form>
    </div>
      </div>
    </div>
  </div>
</div>
<!-- end user edit modal -->

<div
  class="d-grid gap-2 d-md-flex justify-content-md-end"
  style="margin-right: 20px"
>
<button
type="button"
class="btn btn-primary"
data-bs-toggle="modal"
data-bs-target="#usereditmodal"
>
edit profile
</button>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add address
  </button>
  <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModaledit"
>
  Edit address
</button>
</div>
<center>
  <h2>Profile</h2>
</center>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>first name</h4>
      <input
        class="form-control"
        type="text"
        value="{{user.first_name}}"
        aria-label="Disabled input example"
        disabled
        readonly
      />
    </div>
    <div class="col-md-6">
      <h4>last name</h4>
      <input
        class="form-control"
        type="text"
        value="{{user.last_name}}"
        aria-label="Disabled input example"
        disabled
        readonly
      />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <h4>e-mail</h4>
      <input
        class="form-control"
        type="text"
        value="{{user.email}}"
        aria-label="Disabled input example"
        disabled
        readonly
      />
    </div>
    <div class="col-md-6">
      <h4>username</h4>
      <input
        class="form-control"
        type="text"
        value="{{user.username}}"
        aria-label="Disabled input example"
        disabled
        readonly
      />
    </div>
  </div>
  <br /><br />
  <center>
    <h2>Address</h2>
  </center>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {%for i in userprofile %}
        <h4>Address</h4>
        <input
          class="form-control"
          type="text"
          value="{{i.address}}"
          aria-label="Disabled input example"
          id = "uadd"
          disabled
          readonly
        />
      </div>
      <div class="col-md-6">
        <h4>pin code</h4>
        <input
          class="form-control"
          type="text"
          value="{{i.user_pin}}"
          aria-label="Disabled input example"
          disabled
          readonly
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <h4>district</h4>
        <input
          class="form-control"
          type="text"
          value="{{i.user_dist}}"
          aria-label="Disabled input example"
          disabled
          readonly
        />
      </div>
      <div class="col-md-6">
        <h4>state</h4>
        <input
          class="form-control"
          type="text"
          value="{{i.user_state}}"
          aria-label="Disabled input example"
          disabled
          readonly
        />
        {%endfor%}
      </div>
    </div>
  </div>
  {%endblock%}
</div>
