{%extends 'home_temp.html'%} {%block 'home_temp'%} <br /><br /><br /><br />
<div class="container">
  <div class="wish_title">
    <h2 style="text-align: center; color: white;">Wish List</h2>
    <!-- <p>Total - <input  readonly class="form-control" style="width: 200px;" id="text" value="00"></p> -->
    <hr />
  </div>
  <br />

  <table class="table table-hover" id="table1">
    {%for d in data %}
    <tr>
      <td>
        <img
          src="/media/{{d.p_img}}"
          style="width: 120px"
          class="img-fluid"
        />
      </td>
      <td style="font-size: 1rem;padding-top: 30px; color: white;">{{d.product_name}}</td>
      <td style="font-size: 1rem;padding-top: 30px; color: white;" id= "price">{{d.product_price}}</b></td>
      <td>
        <form action="{% url 'deletewish' d.id %}" method="post">
          {%csrf_token%}
          <button type="submit" class="btn btn-outline-light" style="margin-top: 20px;">delete</button>
        </form>
      </td>
    </tr>
    {%endfor%}
  </table>
</div>

<!-- <script>
   window.onload = function() {

let rows = document.getElementById("table1").children[0].rows;
var price = 0;

for (let i = 0; i < rows.length; i++) {
  price += parseInt(rows[i].cells[2].firstChild.data);
  }

  document.getElementById("text").value = price;
}
</script> -->
{%endblock%}
